<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onPackageSetup" fire="\QUI\OAuth\EventHandler::onPackageSetup"/>
    <event on="restInit" fire="\QUI\OAuth\EventHandler::onRestInit"/>

    <event on="onQuiqqerRestLoadOpenApiSpecification" fire="\QUI\OAuth\EventHandler::onQuiqqerRestLoadOpenApiSpecification"/>
</events>
