<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="general">
                <conf name="active">
                    <type><![CDATA[boolean]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="access_lifetime">
                    <type><![CDATA[int]]></type>
                    <defaultvalue>3600</defaultvalue>
                </conf>
            </section>
        </config>

        <window name="quiqqer-oauth-server">
            <title>OAuth</title>
            <params>
                <icon>fa fa-key</icon>
            </params>

            <categories>
                <category name="cron_settings">
                    <text>OAuth</text>
                    <icon>fa fa-key</icon>

                    <settings title="settings" name="settings">
                        <title>
                            <locale group="quiqqer/oauth-server" var="settings.title"/>
                        </title>

                        <input conf="general.active" type="checkbox">
                            <text>
                                <locale group="quiqqer/oauth-server" var="settings.active.text"/>
                            </text>
                            <description>
                                <locale group="quiqqer/oauth-server" var="settings.active.description"/>
                            </description>
                        </input>

                        <input conf="general.access_lifetime" type="number">
                            <text>
                                <locale group="quiqqer/oauth-server" var="settings.access_lifetime.text"/>
                            </text>
                        </input>
                    </settings>

                </category>
            </categories>
        </window>

    </settings>
</quiqqer>